/* Desktop Grid layout */
* {
    box-sizing: border-box;
    justify-content: center;
  }

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% auto auto 10%;
    grid-template-areas: 
    "header header header header"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
    background-color: #71715c;
    
}

aside {
    grid-area: aside;
    background-color: #656544;
    border:outset;
}
header {
    grid-area: header;
    border-bottom: 1px solid;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #6f6f3b;
}
/* Tablet Grid layout */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.2fr 2fr 1fr 0.2fr;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }
    aside {
        grid-area: aside;
        background-color: aquamarine;
    }
    header {
        grid-area: header;
        background-color: rgb(106, 147, 134);
    }
    main {
        grid-area: main;
        background-color: rgb(99, 169, 87);
    }
    footer {
        grid-area: footer;
        background-color: rgb(88, 80, 138);
    }
}
/* Mobile Grid layout */
@media only screen and (max-width: 425px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.15fr 0.1fr 1fr 2fr;
        grid-template-areas: 
        "header header header header"
        "footer footer footer footer"
        "aside aside aside aside"
        "main main main main";
    }
    aside {
        grid-area: aside;
        background-color: aquamarine;
    }
    header {
        grid-area: header;
        background-color: rgb(106, 147, 134);
    }
    main {
        grid-area: main;
        background-color: rgb(99, 169, 87);
    }
    footer {
        grid-area: footer;
        background-color: rgb(88, 80, 138);
    }
}

/* Content Styling Section */
/* Header */
ul {
    display: flex;
    gap: 3rem;
}
header {
    align-content: center;
}
a {
    color: black;
}
ul li {
    list-style: none;
    cursor: pointer;
    font-size: 1.3rem;
}
a:hover {
    text-decoration: none;
    font-size: 1.35rem;
}
a:active {
    color: rgb(114, 7, 7);
    font-size: 1.3rem;
}

/* main */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-container {
    /* width: 19rem; */
    height: auto;
    border: 0.1rem solid black;
    border-radius: 20%;
    border-style:outset;
    justify-items: center;
    overflow: hidden;  
    box-shadow: 1rem 2rem 3rem;
    margin: 1rem;
    align-self: center; /*Makes the flex item the size of its CONTENTS. Values=start, end and center*/
    
}
.row1 {
    border-radius: 50%;
    border-style: hidden;
}

.note {
    justify-items: center;
    text-align: center;
}
#note h2 {
    text-align: center;
}
/* All headings */
h1, h2, h3, a {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
p, ol li {
    font-family: "Rubik", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    font-size: 1.2rem;
}
.box {
    margin-bottom: 2rem;
}
table, th, td{
    border: 1px solid;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

h1 {
    padding: 2rem;
}
nav {
    position: sticky;
    bottom: 5rem;
    right: 1rem;
    width: 4rem;
    float: right;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rebeccapurple; 
    cursor: pointer; 
}
nav:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem;
    text-decoration: underline;
}
#top:active {
    color: wheat;
}
